<h1 align="center">Welcome! I'm Tony Chung and this is my portfolio!</h1>

<div align="left">Here's a list of reasons why I'm learning to code!</div>
<ul align="left" style="line-height: 120%">
  <li>I'm enjoying it! I have recently discovered a passion for this exciting skill that I once thought I despised!</li>
  <li>It's challenging which is what makes it fun and rewarding - anything worth doing isn't usually easy!</li>
  <li>I am a relentless worker and coding really rewards those who invest enough time into learning it!</li>
  <li>It's super useful! Code is required in nearly every technological facet of our lives from mobile apps to ATMs to microwaves and that's pretty cool!</li>
</ul>
